<% @users.each do |user| %>
<% user.shoes.each do |shoe| %>
<div class="users-index">
<li><h1> Brand: <%= link_to shoe.brand, shoe_path(shoe)%></h1>
<h1> Name: <%= shoe.name %> </h1>
<h1> Image: <%= image_tag(shoe.image, size: "100x110") %> </h1>
<h1> Description: <%= shoe.description %></h1></li>
<%end%>
</div>
<% end %>

