/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *{
    /* margin: 0;
    padding: 0px; */
  
  
    box-sizing: border-box;
    
}
nav{
    width: 100%;
    height: 75px;
    background-color: rgb(1, 68, 104);
    line-height: 75px;
    padding:0px 100px;
    position:relative;
    z-index: 1;
}

nav ul{ 
    float: right;
    position:relative;

}

nav ul li{
    display: inline-block
}
nav ul li a{
    color:honeydew;
   
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding:0px 32px;
}
nav ul li a:hover{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

    
 .field_with_errors {
     color: red;
     list-style: none;
 }
 .flash{
    color: red;
    text-decoration: none;
    list-style: none;
 }
