
<h1> Search Results </h1>
<% @shoes.each do |shoe| %>
<div class="brands">
<ul>
<p><li><%= shoe.brand %></li></p>
<p><li><%= shoe.name %></li></p>
<p><li><%= shoe.image %></li></p>
<p><li><%= shoe.description %></li></p>
</ul>
</div>

<% end %>


