
<h1> Search Results </h1>
<% @shoes.each do |shoe| %>
<div class="brands">
<ul>
<p><h2><li><%= shoe.brand %></li></h2></p>
<p><h2><li><%= shoe.name %></li></h2></p>
<p><h2><li><%= image_tag(shoe.image, size: "60x70") %></li></h2></p>

<p><h2><li><%= shoe.description %></h2></li></p>
</ul>
</div>

<% end %>


