<% @shoes.each do |shoe| %>
<div class="brands">

<h1><%= link_to shoe.brand, shoe_path(shoe)%></h1>
<h1> <%= shoe.name %> </h1>
<h1> <%= shoe.image %> </h1>
<h1> <%= shoe.description %> </h1>

</div>


<% end %>