<% @shoes.each do |shoe| %>
<div class="brands">

<h1> Brand: <%= link_to shoe.brand, shoe_path(shoe)%></h1>
<h2> Name: <%= shoe.name %> </h2>
<h2> Image: <%= shoe.image %> </h2>
<h2> Description: <%= shoe.description %> </h2>

</div>


<% end %>