<!DOCTYPE html>
<html>
  <head>
    <title>RailsShoeProject</title>
    
    <link rel="stylesheets" href="users.scss" >
   
  </head>

  <body>
  <nav>

<ul>
<li><%= link_to "Home", users_path %></li>
<li><%= link_to "Create Shoe", users_path %></li>
<li><%= link_to "Logout", logout_path, method: "delete" %></li>


</ul>
</nav>


  </body>
</html>
