<!DOCTYPE html>
<html>
  <head>
    <title>RailsShoeProject</title>
    
    <link rel="stylesheets" href="users.scss" >
    
  </head>

  <body>
  <%= render "layouts/flash" %>
  
  
  
    <%= yield %>
  </body>
</html>